<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>editer un nouveau potin !</h1>
    <p>Balance ton nouveau potin via le formulaire ci-dessous</p>
    <form action='/gossips/<%=(params['id'])%>/edit/' method='POST'>
      Saisi ici ton nom : <input type='text' name='gossip_author'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
